[submodule "kernel/includes/jsmn"]
	path = kernel/includes/jsmn
	url = https://github.com/zserge/jsmn.git
[submodule "user/includes/cJSON"]
	path = user/includes/cJSON
	url = https://github.com/DaveGamble/cJSON.git
[submodule "user/includes/uthash"]
	path = user/includes/uthash
	url = https://github.com/troydhanson/uthash.git
